* {
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}
.app-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  border-style: solid;
  border-color: black;
  margin: auto;
  margin-top: 200px;
  border-radius: 30px;
}

.searchbar-container {
  display: flex;
  height: 50px;
  margin: 20px;
  border-style: solid;
  width: auto;
}
.searchbar {
  flex: 1;
}
.searchbar-submit {
  width: 50px;
}
.one {
  display: flex;
  height: 250px;
}
.container-one {
  flex: 1;
  width: auto;
  border: solid;
  margin: 3px;
}

.left {
  display: flex;

  flex-direction: column;
}

.weather-symbol {
  flex: 1;
  border: solid;
  margin: 2px;
}

.weather-class {
  height: 75px;
  border: solid;
  margin: 2px;
}

.right {
  display: flex;
  flex-direction: column;
}

.right > * {
  flex: 1;
  border: solid;
  margin: 2px;
}

.two {
  display: flex;
  height: 150px;
  margin: 2px;
}

.two > * {
  flex: 1;
  border: solid;
  margin: 1px;
}

.forecast {
  display: flex;
  flex-direction: column;
  border: solid;
  margin: 1px;
}

.forecast > * {
  border: solid;
  margin: 1px;
}
.mini-symbol-one,
.mini-symbol-two,
.mini-symbol-three {
  flex: 1;
}
.forecast-day {
  height: 33%;
}
.three {
  display: flex;
  height: 100px;
  margin: 2px;
}

.three > * {
  flex: 1;
  border: solid;
  margin: 2px;
}

.four {
  display: flex;
  height: 100px;
  margin: 2px;
}

.four > * {
  flex: 1;
  border: solid;
  margin: 2px;
}
